{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/change_pass.css' %}"/>
<script src="{% static 'js/login.js' %}"></script>

<!--<h1>Password reset</h1>-->
<!--<hr>-->
<!--<form action="{% url 'password_change' %}" method="post">-->
<!--    {{ form }}-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">submit</button>-->
<!--</form>-->

<!--<div class="conteiner">-->
<!--    <h1>Password reset</h1>-->
<!--    <hr>-->
<!--    {% if form.errors %}-->
<!--    <p>{{ form.errors.error }}</p>-->
<!--    {% endif %}-->

<!--</div>-->

<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form action="{% url 'password_change' %}" method="post" class="forma">
        {% csrf_token %}
        <div class="con">
            <header class="head-form">
                <h2>Сменить пароль</h2>

            </header>
            <br>
            <div class="field-set">
                <!--Old passw-->
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" name="old_password" autocomplete="current-password"
                       required="" id="id_old_password" placeholder="Old Password" autofocus="">
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye" onclick="showHide()"></i>
                </span>
                <br>
                <!--new passw-->
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" name="new_password1" autocomplete="new-password" required=""
                       id="id_new_password1" placeholder="New Password" aria-describedby="id_new_password1_helptext">
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye" onclick="showHide()"></i>
                </span>
                <br>
                <!--2 new passw-->
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" name="new_password2" autocomplete="new-password" required=""
                       id="id_new_password2" placeholder="New Password confirmation" aria-describedby="id_new_password2_helptext">
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye" onclick="showHide()"></i>
                </span>
                <br>
                <button class="change" href="{% url 'main' %}"> Сменить пароль</button>
            </div>

            <div class="other">
                <a class="btn submits frgt-pass" href="{% url 'password_reset' %}">Забыли пароль?</a>
                <a class="btn submits sign-up" href="{% url 'register' %}">Регистрация
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}