<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/person_main.css' %}" />

    <link rel="stylesheet" href="{% static 'css/photo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vid.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />

    <title>DevSearch - Connect with Developers!</title>
</head>

<body>

{% include 'main/sidebar.html' %}

{% block content %}

{% endblock %}



</body>

</html>