        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


        /* сброс базовых стилей */
        * {
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }

        /* левое меню */
        .container .sidebar {
           
            position: fixed;
            top: 0;
            left: 0;
            width: 225px;
            height: 100%;
            padding: 20px 0;
          }
            










  