
.containgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
   
    .video {
    background-color: lightgrey;
    padding: 10px;
    }

.video_item{
    width: 300px;
    height: 300px;
}